/* body */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.subs{       
    border-top: 3px solid rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    border-bottom: 3px solid rgb(255, 0, 0); 
    width: 5%; 
    margin: 0 47% 0 47%;   
}

/* Main */

.cardsideform{
    height: 500px;
}

.cardform {
    box-shadow: rgb(172, 172, 172) 0px 0px 15px;
    height: 500px;    
}


/*Fin de main */

/* Beneficios */

#imgbeneficios {
    width: 40px;
    margin-left: 17px;
}

.displaytext {
    color: #ff6f6f;
}

.displaytext span {
    color: #ff6f6f;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
}

/* Fin de beneficios */


/* Casos de exito */
#btn-contratar{
    background-color: linear-gradient(to right, #ff6f6f, #ffcdcd);
    color: white;
    border-radius: 5px;
    
}

#casos{
    background-image: url("../assets/bg.png");
}

/* Fin de Casos de exito */

/* Obtener */

#cardobtener{
    height: 300px;
    border-radius: 20px 20px 5px 5px;
    box-shadow: rgb(172, 172, 172) 0px 0px 10px;
}

/* Fin de obtener */

/* Venta */

#venta{
    background-image: url("../assets/Clip.png");    
}

.cardventa {
    background-color: transparent;
}

/* Fin de venta */

/*Precios*/

.startercard {    
    height: 1000px;
}

.premiumcard {    
    box-shadow: rgb(172, 172, 172) 0px 0px 50px;
    height: 1000px;
}

.img-price {
    margin-top: 50px;
    margin-bottom: 40px;
}

.text-price{
    color: #ff6f6f;
    text-decoration: line-through;
}

.price {
    font-size: 20px;       
    margin-bottom: 20px;
}

.price span {
    font-size: 30px; 
    font-weight: bold;
}

.line {
    width: 400px;
    justify-self: center;
}

.liststarter {
    list-style:  none;
}

.listpremium {
    list-style:  none;
}

.btnpremium {
    background: linear-gradient(to right, #ff6f6f, #ffcdcd);
    text-emphasis-color: white;
}

/* Fin de precios */

#footer{
    padding: 10px;    
   /* box-shadow: 0px 0px 10px #666666;*/
    width: 100%;
    overflow: hidden;    
    margin: auto;
    
}

#footertext{
    color: #000000;
    font-weight: 200;
}
